
<section class="main">
  <% if @pending_reviews.count > 0 %>
    <h3 class="tac">Pending Reviews</h3>
    <p class="subscript decision-feedback tac"></p>
     <% @pending_reviews.each do | review | %>

    <div class="flex-container-no accent-padding" id="pending-reviews">
      <div id="decision-wrapper">
        <%= form_for(review, remote: true, :html => {:class => "ib"}) do |fa| %>
            <%= fa.hidden_field :status, :value => "approved" %>
            <%= fa.submit "âœ“", class: "decision approval ib" %>
          <% end %>
          <%= form_for(review, remote: true, :html => {:class => "ib"}) do |fa| %>
            <%= fa.hidden_field :status, :value => "hidden" %>
            <%= fa.submit "ð„‚", class: "decision denial ib" %>
          <% end %>
      </div>
      <div class="three-fourths accent-padding">
        <p class="nmb"><%= review.author_first %> 
          <% if review.author_last %>
            <span class="ttu" style="font-weight: normal"><%= review.author_last.first(1) %>.</span> 
          <% end %>
          <br class="mo"><span class="star-wrapper text-red">
          <% review.rating.times do%>
            â˜…
          <% end %>
          </span></p>
        <p><%= review.text %></p>
      </div>
      <div class="tar do accent-padding">
        <h3 class="ttu nmb text-light-teal"><%= review.product.title %></h3>
        <p class="subscript nmt"><%= review.created_at.strftime('%m/%d/%Y') %></p>
      </div>
    </div>
    <% end %>
  <% else %>
  <div class="tac">
    <h3 class="ib vam">No Pending Reviews</h3>
    </div>
  <% end %>
</section>




<script>

  $('.decision').click(function () {
    $(this).parent().parent().parent().hide();
    $('.decision-feedback').hide(); 
    if ($(this).hasClass('approval')) {
      $('.decision-feedback').text('approved').show();
    }
    else if ($(this).hasClass('denial')) {
      $('.decision-feedback').text('hidden').show();
    }
    else if ($(this).hasClass('favorited')) {
      $('.decision-feedback').text('approved & favorited').show();
    }
  })

  $('.useful').click(function() {
    $(this).attr("value", "thanks!"); 
    $(this).addClass('filled-paca')
    votes = parseInt($(this).next('.upvote').text()) + 1  
    $(this).next('.upvote').text(votes)
  })
</script>
