
<section class="main">
  <% if @pending_reviews.count > 0 %>
    <h3 class="tac">Pending Reviews</h3>
    <p class="subscript decision-feedback tac"></p>
     <% @pending_reviews.each do | review | %>

    <div class="flex-container-no  new-review" id="pending-reviews">
      <div id="decision-wrapper">
        <%= form_for(review, remote: true, :html => {:class => "ib"}) do |fa| %>
            <%= fa.hidden_field :status, :value => "approved" %>
            <%= fa.submit "âœ“", class: "decision approval ib" %>
          <% end %>
          <%= form_for(review, remote: true, :html => {:class => "ib"}) do |fa| %>
            <%= fa.hidden_field :status, :value => "hidden" %>
            <%= fa.submit "ð„‚", class: "decision denial ib" %>
          <% end %>
      </div>
    <div class=" background-pink review-wrapper-new fw">
      <div class="flex-container-no">
        <div class="half">
          <h5 class="nm author"><%= review.author_first %> <%= review.author_last.first(1) %>.</h5>
          <p class=" text-red" style="margin-top: 5px;">
            <% review.rating.times do%>
              â˜…
            <% end %>
        </p>
        </div>
        <div class="half">
          <p class="tar nm product-title"><%= review.product.title %></p>
        </div>
      </div>
     
        <p class="review-text"><%= review.text %></p>
    </div>
    
    </div>
    <% end %>
  <% else %>
  <div class="tac">
    <h3 class="ib vam">No Pending Reviews</h3>
    </div>
  <% end %>
</section>




<script>

  $('.decision').click(function () {
    $(this).parent().parent().parent().hide();
    $('.decision-feedback').hide(); 
    if ($(this).hasClass('approval')) {
      $('.decision-feedback').text('approved').show();
    }
    else if ($(this).hasClass('denial')) {
      $('.decision-feedback').text('hidden').show();
    }
    else if ($(this).hasClass('favorited')) {
      $('.decision-feedback').text('approved & favorited').show();
    }
  })

  $('.useful').click(function() {
    $(this).attr("value", "thanks!"); 
    $(this).addClass('filled-paca')
    votes = parseInt($(this).next('.upvote').text()) + 1  
    $(this).next('.upvote').text(votes)
  })
</script>
