
<section id="all-reviews">


  <% @latest_reviews.each_with_index do | review, index | %> 
  <% if !review.sticky %>
    <div class=" background-pink review-wrapper-new">
      <div class="flex-container-no">
        <div class="half">
          <h5 class="nm author"><%= review.author_first %> <% if review.author_last %><%= review.author_last.first(1) %>.<% end %><% if review.verification == 1 || review.verification == true%><span class="verified-image">✓</span> <span class="verified-buyer">Verified Buyer</span><% end %></h5>
          <p class=" text-red" style="margin: 5px 0;">
            <% review.rating.times do%>
              ★
            <% end %>
        </p>
        <h5 class="nm title"><%= review.title %></h5>
        </div>
        <div class="half">
          <p class="tar nm product-title"><% if review.product %><%= review.product.title %><% end %></p>
        </div>
      </div>
     
        <p class="review-text"><%= review.text %></p>
    
        <div class="flex-container-no review-edit-bubble">
          <p class="subscript"><b>status: <%= review.status %></b></p>
        <div>
 <% if review.status == "hidden" %>
        <%= form_for(review, remote: true, :html => {:class => "ib change prev-den do"}) do |fa| %>
          <%= fa.hidden_field :status, :value => "approved" %>
          <%= fa.submit "show review", class: "text-green decision-change ib" %>
        <% end %>
      <% else %>
        <%= form_for(review, remote: true, :html => {:class => "ib change do"}) do |fa| %>
          <%= fa.hidden_field :status, :value => "hidden" %>
          <%= fa.submit "hide review", class: "decision-change ib" %>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= link_to "Edit Review", edit_review_path(review) %>
    </div>
    </div>

 
    </div>
      
  <% end %>


  <% end %>

       <%= will_paginate @reviews %>
  </section>


<script>
    $('.change').submit(function() {
    if ($(this).hasClass("prev-den")) {
    var c =  confirm("This will make the review public, are you sure you want to continue?"); 
    }
    else {
      var c = confirm("This will hide the review, are you sure you want to continue?"); 
    }

        location.reload();
    return c; 
  }); 
  $('.decision').click(function () {
    $(this).parent().parent().parent().hide();
    $('.decision-feedback').hide(); 
    if ($(this).hasClass('approval')) {
      $('.decision-feedback').text('approved').show();
    }
    else if ($(this).hasClass('denial')) {
      $('.decision-feedback').text('hidden').show();
    }
    else if ($(this).hasClass('favorited')) {
      $('.decision-feedback').text('approved & favorited').show();
    }
  })

</script>

<style>
  .review-edit-bubble  {
    padding: 10px;
    justify-content: space-around;
    background-color: white;
    margin: 40px -20px -20px -20px;
}
.review-edit-bubble a{
  font-size: 22pt;
  text-decoration: underline;
}
.change input {
    background: transparent;
    border: none;
    color: black;
  font-family: 'the_wild_things_bold';
    text-decoration: underline;
    font-size: 22pt;
}
</style>