

<div class="add-category-product main">
<div class="button">
	<span><a href="/products/new">Add Product</a></span>
</div>
<div class="spacer"></div>

<h5 class="tac nm subscript">Current Products</h5>
    
      <% @products.each do | product | %>
      <p class="category-list"><%= product.title %> - <%= link_to "Edit", edit_product_path(product) %> - <%= link_to 'Delete', product_path(product),
              method: :delete,
              data: { confirm: 'This will delete all associated reviews, are you sure?' }, :class => "" %> - <%= link_to 'Reviews (' + product.reviews.count.to_s + ')', product_path(product), :class => "" %> 
             
      </p>
      <% end %>
 <div class="button"> <%= link_to("Download CSV", products_path(format: :csv), class: "",) %></div>
  </div>
