<div id="new-product" class="add-category-product main">
  <h5 class="tac nm subscript">Add a Product</h5>

  <%= form_for @product do |f| %>
      <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Select Category"} %>

      <%= f.text_field :title, placeholder: "Product Name" %>
   <div class="button">
      <span><%= f.submit %></span>
    </div>
  <% end %>

<div class="spacer"></div>
  <h5 class="tac nm subscript">Current Products</h5>
    
      <% @products.each do | product | %>
  <p class="product-list"><%= product.title %> - <%= link_to "Edit", edit_product_path(product) %> - <%= link_to 'Delete', product_path(product),
              method: :delete,
              data: { confirm: 'This will delete all associated reviews, are you sure?' }, :class => "" %> - <%= link_to 'Reviews (' + product.reviews.count.to_s + ')', product_path(product), :class => "" %> 
             
      </p>    <% end %>
</div>

