<% if @positive_review_count > 0 %>
<h1 class="text-red tac nm">The Reviews Are In</h1>
<section class="new-review slick-wrapper">
  <% @reviews.each do | review | %> 
    <div class=" background-pink review-wrapper-new">
      <div class="flex-container">
        <div class="fw">
          <h5 class="nm author"><%= review.author_first %> <% if review.author_last %><%= review.author_last.first(1) %>.<% end %><% if review.verification == 1 || review.verification == true%><br class="mo"><span class="verified-image">✓</span> <span class="verified-buyer">Verified Buyer</span><% end %></h5>
          <p class="tar nm product-title mo"><% if review.product %><%= review.product.title %><% end %></p>
          <p class=" text-red" style="margin: 5px 0;">
            <% review.rating.times do%>
              ★
            <% end %>
        </p>
        <h5 class="nm title"><%= review.title %></h5>
        </div>
        <div class="half">
          <p class="tar nm product-title do"><% if review.product %><%= review.product.title %><% end %></p>
        </div>
      </div>
     
        <p class="review-text"><%= review.text %></p>
    </div>
  <% end %>
  </section>

<% end %>
  <script>

  $('.slick-wrapper').slick({
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  adaptiveHeight: true
});
    
</script>
<style>
  nav { display: none !important; }
</style>