
    <%= image_tag("view-review-hero.png", class: "fw") %>

<section class=" " id="new-review">
  <% @reviews.each_with_index do | review, index | %> 
    <div class=" background-pink review-wrapper-new">
      <div class="flex-container-no">
        <div class="half">
          <h5 class="nm author"><%= review.author_first %> <%= review.author_last.first(1) %>.</h5>
          <p class=" text-red" style="margin-top: 5px;">
            <% review.rating.times do%>
              ★
            <% end %>
        </p>
        </div>
        <div class="half">
          <p class="tar nm product-title"><%= review.product.title %></p>
        </div>
      </div>
     
        <p class="review-text"><%= review.text %></p>
    </div>
    


  <% end %>
    
    <%= will_paginate @reviews %>
  </section>

<style>
  #new-review p.text-red { 
  font-size: 18pt;
  letter-spacing: 2.5px; 
}
#new-review h5.author { font-size: 47pt; }
.review-text, .product-title {
    font-family: 'neutra';
    font-size: 16pt;
}
.review-wrapper-new {
  padding: 30px;
  margin: 30px;
}
</style>