<style>
nav { display: none; }
</style>

  <section class="new-review-hero">
    <%= image_tag("new-review-hero.jpg", class: "fw do") %>
        <%= image_tag("new-review-hero-mobile.jpg", class: "fw mo") %>

  </section>
<div id="new-review" class="main">
     <% if @review.errors.any? %>
      <p class="tac subscript error-message" style="margin-bottom: 20px;">We're sorry, but an error occurred.<br> If this continues, please contact us a <a href="mailto:customerservice@theoliverthomas.com" class="">customerservice@theoliverthomas.com</a></p>
            <ul class="tac">
        <% @review.errors.full_messages.each do |msg| %>
          <li class="subscript text-red"><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

  <%= form_for @review do |f| %>
    <div id="rating-wrapper">
      <span class="vam subscript ib" style="margin-top: 2px;">Rating:</span>
      <span class="star-cb-group vam" >
        <%= f.radio_button :rating, 5, id: "rating-5"%><label for="rating-5">5</label>
        <%= f.radio_button :rating, 4, id: "rating-4" %><label for="rating-4">4</label>
        <%= f.radio_button :rating, 3, id: "rating-3" %><label for="rating-3">3</label> 
        <%= f.radio_button :rating, 2, id: "rating-2" %><label for="rating-2">2</label>
        <%= f.radio_button :rating, 1, id: "rating-1" %><label for="rating-1">1</label>
      </span>
    </div>
    <select id="category-selection">
    <option value="" disabled selected>Select Category</option>
    <% @categories.each do | category | %>
      <option data-category-id="<%=category.id%>"><%= category.name %></option>
      <% end %>
    </select>
    <% @categories.each do | category | %>
    <select class="product-categories" id="<%=category.id %>" style="display: none;" >
        <option value="" disabled selected>Select Product</option>

  <% category.products.each do | product | %>
      <option data-product-id="<%=product.id%>"><%= product.title %></option>
      <% end %>
</select> 
    <% end %>
          <%= f.hidden_field :product_id, :value => 1 %>

    <p class="nmt">
            <%= f.text_field :title ,placeholder: "Review Title" %>

      <%= f.text_area :text, placeholder: "Write your review here" %>
    </p>
    <% if params[:email] %> 
      <%= f.hidden_field :author_email, :value => params[:email] %>
    <% else %>
      <%= f.text_field :author_email, placeholder: "Email" %>
    <% end %>
    <div class="flex-container-no">
      <div class="half-no" style="margin-right: 10px;">
    <% if params[:first] %> 
      <%= f.hidden_field :author_first, :value=> params[:first] %>
    <% else %>
      <%= f.text_field :author_first, placeholder: "First Name" %>
    <% end %>
  </div>
  <div class="half-no">
    <% if params[:sur] %> 
      <%= f.hidden_field :author_last, :value => params[:sur] %>
    <% else %>
      <%= f.text_field :author_last,placeholder: "Last Name" %>
    <% end %>
  </div>
</div>
  <br>


    <div class="button">
      <span><%= f.submit "Submit It" %></span>
    </div> 
  <% end %>
</div>

<script>
  $('#category-selection').change(function() {
    var selectedCategory = '#' + $(this).find('option:selected').data("category-id")
    $(selectedCategory).show().siblings('.product-categories').hide();

  })
  $('.product-categories').change(function() {
    var selectedProductId = $(this).find('option:selected').data("product-id")
    $('#review_product_id').val(selectedProductId)
  })

</script>
